<h1>Shopping Cart</h1>
<ng-container>
    <p>
        You have {{ shoppingCart.totalQuantity }} items in your shopping cart.
    </p>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor="let product of shoppingCart.products">
        <td>{{product.title}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.quantity * product.price | currency: USD: true}}</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td></td>
        <td></td>
        <td>{{totalPrice | currency: USD: true}}</td>
    </tr>
</tfoot>
</table>


</ng-container>
